In [1]:
import numpy as np
import pandas as pd

In [2]:
#available columns
"""
'CC_area', 'CC_total_port', 'DC_area', 'DIC_area', 'DIC_max', 'IC_area',
'LS_DATE', 'LS_ID', 'LS_SAT', 'RGI_ID', 'SC_area', 'SC_max', 'SC_mean',
'SC_median', 'SC_min', 'SC_stdev', 'cc_TSLrange_percent',
'class_coverage', 'glacier_DEM_max', 'glacier_DEM_min', 'glacier_area',
'tool_version', 'scene', 'TSL_normalized', 'TSL_stddev_norm', 'year', 'month'
"""

tsl_store = pd.read_hdf("../data/tsl/TSLA-HMA-2020-07-filtered-nWmax_0_2SLAthres-0_3cut.h5", 
                        mode="r", iterator=True)

In [3]:
chunks = tsl_store.store.select(key="TSLs", 
                                columns=['RGI_ID', 'LS_DATE', 'SC_median', 'TSL_normalized'], 
                                chunksize=10000)

holder = []

for chunk in chunks:
    holder.append(chunk)

tsl = pd.concat(holder, axis=0)

tsl = tsl.rename({"SC_median": "TSL_m"}, axis=1)

In [4]:
tsl.head(5)

           RGI_ID     LS_DATE   TSL_m  TSL_normalized
1  RGI60-15.00007  1986-11-02  5042.0        0.769039
2  RGI60-15.00007  1987-01-14  4484.0        0.072409
3  RGI60-15.00007  1987-01-21  4470.0        0.054931
4  RGI60-15.00007  1987-03-03  4500.0        0.092385
5  RGI60-15.00007  1987-03-26  4486.0        0.074906

In [5]:
tsl.to_pickle("../data/tsl/TSLs.pkl")

In [6]:
ids = np.unique(tsl['RGI_ID'].to_numpy())

In [7]:
ids.shape

(28090,)

In [8]:
np.save("../data/misc/glacier_IDs.npy", ids)

In [ ]:
meteo = pd.read_hdf('../data/meteo/agg-weekly/RGI60-15.00007.h5')
meteo.index = pd.to_datetime(meteo['date'])
meteo = meteo.drop(['date', 'wind_dir_mean_labels'], axis=1)

In [ ]:
meteo

In [ ]:
pa = pd.read_csv("../data/misc/rgi60_Asia.csv")

In [ ]:
pa